<template>
    <ul class="pagination center-align" v-if="pagination.itemsCount > perPage">
        <li class="prev" v-if="page > 2" @click.prevent="changePage(1)">
            <a href="">|&lt;</a>
        </li>
        <li class="prev" v-if="page > 1" @click.prevent="changePage(page - 1)">
            <a href="">&lt;</a>
        </li>
        <li v-for="page in pagesNumber"
            v-bind:class="[ page == isActived ? 'active' : '']">
            <a href="#" @click.prevent="changePage(page)">{{ page }}</a>
        </li>

        <li class="next" v-if="page < lastPage" @click.prevent="changePage(page + 1)">
            <a href="">&gt;</a>
        </li>

        <li class="prev" v-if="page + 1 < lastPage" @click.prevent="changePage(lastPage)">
            <a href="">&gt;|</a>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'Pagination',
        data() {
            return {
                offset: 2,
                items: [],
            }
        },
        props: ['pagination', 'perPage', 'page'],

        computed: {
            isActived() {
                return this.page;
            },
            pagesNumber() {
                var from = this.page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.offset * 2);
                if (to >= this.lastPage) {
                    to = this.lastPage;
                }
                var pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
            lastPage() {
                return Math.round(this.pagination.itemsCount / this.perPage)
            },
        },
        methods: {
            changePage(page) {
                this.$emit('change-page', page);
            },
        },
        watch: {

        }
    }
</script>