<template>
    <div class="header-cart">
        <div id="cart" class="btn-group btn-block">
            <router-link to="/cart">
                <button type="button" data-toggle="dropdown"
                        class="btn btn-inverse btn-block btn-lg dropdown-toggle"><span
                        id="cart-total">{{ cart.count }}</span>
                </button>
            </router-link>
            <ul class="dropdown-menu pull-right cart-menu" v-if="false">
                <loading></loading>
                <li>
                    <table class="table table-striped">
                        <tbody>
                        <tr v-for="product in cart">
                            <td class="text-center">
                                <router-link :to="'/products/' + product.product.itemInfo.itId">
                                    <img :src="product.product.itemImages.item.find(value => {return value.imageType == 1}).imageUrl"
                                         :alt="product.product.itName" :title="product.product.itName"
                                         class="img-thumbnail"
                                         style="with: 55px; height: 55px"
                                    >
                                </router-link>
                            </td>
                            <td class="text-left">
                                <router-link :to="'/products/' + product.product.itemInfo.itName">
                                    {{ product.product.itemInfo.itName }}
                                </router-link>
                            </td>
                            <td class="text-right">x 1</td>
                            <td class="text-right">$122.00</td>
                            <td class="text-center">
                                <button type="button" @click="cartRemove(product)" title="Remove"
                                        class="btn btn-danger btn-xs">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="text-right"><strong>Sub-Total</strong></td>
                                <td class="text-right">$1,100.00</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                <td class="text-right">$4.00</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>VAT (20%)</strong></td>
                                <td class="text-right">$220.00</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Total</strong></td>
                                <td class="text-right">$1,324.00</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-right button-container"><a
                                href="http://opencart.templatemela.com/OPC08/OPC080185/OPC5/index.php?route=checkout/cart"
                                class="addtocart"><strong>View Cart</strong></a>&nbsp;&nbsp;&nbsp;<a
                                href="http://opencart.templatemela.com/OPC08/OPC080185/OPC5/index.php?route=checkout/checkout"
                                class="checkout"><strong>Checkout</strong></a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                cart: []
            }
        },
        methods: {
            getCart() {
                loading(true)
                this.$http.get('cart').then(response => {
                    this.cart = response.data.cart
                    loading(false)
                }, err => {

                })
            },
            listenCart() {
                bus.$on('cart.add', (cart) => {
                    this.cart = cart
                })
                bus.$on('cart.update', (cart) => {
                    this.cart = cart
                })
                bus.$on('cart.remove', (product) => {
                    var index = this.cart.products.indexOf(product)
                    this.cart.products.splice(index, 1)
                })
                bus.$on('cart.clear', () => {
                    this.cart = []
                })
            }
        },
        components: {},
        mounted() {
            this.getCart()
            this.listenCart()
        }
    }

</script>
