<template>
    <div id="content" class="col-sm-9">
        <h3 v-if="order.completed">Спасибо, мы с Вами скоро свяжемся, хорошого настроение!</h3>
        <h3 v-if="!cart.count && !loading">Корзина пустая!</h3>
        <h3 v-if="loading">Загрузка...</h3>
        <div v-if="cart.count && !order.completed">
            <div class="table-responsive">
                <table class="table table-bordered shopping-cart">
                    <thead>
                    <tr>
                        <td class="text-center">Id</td>
                        <td class="text-center">Image</td>
                        <td class="text-left" width="300px">Название</td>
                        <td class="text-left">Количество</td>
                        <td class="text-right" width="100px">Цена</td>
                        <td class="text-right" width="100px">Total</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(product, index) in cart.products">
                        <td>{{ product.product.itemInfo.itId }}</td>
                        <td class="text-center">
                            <router-link :to="'/products/' + product.product.itemInfo.itId">
                                <img :src="product.product.itemImages.item.find(value => {return value.imageType == 1}).imageUrl"
                                     :alt="product.product.itName" :title="product.product.itName"
                                     class="img-thumbnail"
                                     style="with: 55px; height: 55px"
                                >
                            </router-link>
                        </td>
                        <td class="text-left">{{ product.product.itemInfo.itName }}</td>
                        <td class="text-left">
                            <div class="input-group btn-block" style="max-width: 200px;">
                                <input type="text" v-model="product.quantity" size="1" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" data-toggle="tooltip" class="btn btn-primary"
                                            @click="cartUpdate(cart)">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                            @click="cartRemove(product)" data-original-title="Remove">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="text-right">{{ product.product.itemInfo.itBuyNowPrice }} грн.</td>
                        <td class="text-right">{{ Math.round(product.quantity * product.product.itemInfo.itBuyNowPrice,2) }} грн.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <form @submit.prevent="submitCart">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse-shipping">Оформление заказа:</a></h4>
                        </div>
                        <div id="collapse-shipping">
                            <div class="panel-body">
                                <p>Введиье пожалуйста дданые </p>
                                <form class="form-horizontal">
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="order-zone">ФИО</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="order.name" placeholder="Иванов Иван Иванович" id="order-zone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="order-email">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="order.email" placeholder="ivanov@gmail.com" id="order-email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="order-phone">Телефон</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="order.phone" placeholder="+380961111111" id="order-phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="order-postcode">Область, город</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="order.region" placeholder="Львовская область, Львов" id="order-postcode" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="order-postcode">Комментарий</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" placeholder="Дополниетльная информация..."
                                                      v-model="order.comment"
                                            ></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="text-right"><strong>Eco Tax (-2.00):</strong></td>
                                <td class="text-right">$4.00</td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Total:</strong></td>
                                <td class="text-right">${{ Math.round(total, 2) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-left">
                            <router-link to='/categpries/620' class="btn btn-default">Продолжить покупки</router-link>
                            <button type="button" class="btn btn-default" @click="cartClear()">Очистить корзину</button>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import Notifications from '../notifications/notifications.js'

    export default {
        data() {
            return {
                cart: [],
                order: {},
                loading: true
            }
        },
        computed: {
            total() {
                return this.cart.products.reduce((total, product) => {
                    return total + product.product.itemInfo.itBuyNowPrice * product.quantity
                },0)
            }
        },
        methods: {
            getCart() {
                loading(true)
                this.$http.get('cart').then(response => {
                    this.cart = response.data.cart
                    this.loading = false
                    loading(false)
                }, err => {
                    this.loading = false
                })
            },
            submitCart() {
                loading(true)
                this.$http.post('cart/submit', this.order).then(response => {
                    this.$set(this.order, 'completed', true)
                    Notifications.add({
                        title: 'Success!!',
                        text: 'Заказ успешно отправлен на обработку!',
                        type: 'success',
                        timeout: true
                    })
                    loading(false)
                }, err => {
                    if (err.response.status == 422) {
                        var errors = err.response.data

                        Notifications.add({
                            title: 'danger!!',
                            text: Object.keys(errors).map((key, index) => {return errors[key]}).join("<br>"),
                            type: 'danger',
                            timeout: true
                        })
                    }
                    loading(false)

                })
            },
            listenCart() {
                bus.$on('cart.update', (cart) => {
                    this.cart = cart
                })
                bus.$on('cart.clear', (product) => {
                    this.cart = []
                })
                bus.$on('cart.remove', (product) => {
                    var index = this.cart.products.indexOf(product)
                    this.cart.products.splice(index, 1)
                })
            },
        },
        components: {},
        mounted() {
            this.getCart()
            this.listenCart()
        }
    }

</script>
