<template>
    <div class="autobanner1 container">
        <div class="banner" :class="'auto2w'"
             v-for="category in categories">
            <div class="autobanner1_2"><a href="#"><img alt="" src="../../assets/image/catalog/sub-banner2.jpg"></a></div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                categories: []
            }
        },
        methods: {
            getCategories() {
                this.$http.get('categories').then(response => {
                    this.categories = response.data.categories
                }, err => {

                })
            },
        },
        components: {},
        mounted() {
            this.getCategories()
        }
    }

</script>
