<template>
    <div class="container">
        <h2 class="page-title" v-if="category">{{ category.name_ru }}</h2>
        <breadcrumbs></breadcrumbs>
        <notification></notification>
        <categories v-if="$route.name == 'catalog'"></categories>
        <div class="row" v-if="$route.name != 'catalog'">
            <sidebar-left v-if="$route.name != 'home'"></sidebar-left>
            <product-list v-if="$route.name == 'products'"></product-list>
            <product-page v-if="$route.name == 'product'"></product-page>
            <cart v-if="$route.name == 'cart'"></cart>
        </div>
    </div>
</template>
<script>
    import ProductList from './product-list.vue'
    import ProductPage from '../product/index.vue'
    import Cart from '../cart/index.vue'
    import Categories from './categories.vue'


    export default {
        name: 'Catalog',
        data() {
            return {
            }
        },
        methods: {
        },
        watch: {
            '$route' (to, from) {
            },
        },
        components: {ProductList, ProductPage, Cart, Categories},
        mounted() {
        }
    }
</script>
