<template>
    <div id="content" class="col-sm-9">
        <div class="row category_thumb">
            <div class="col-sm-2 category_img"><img
                    src="../../assets/image/cache/catalog/category-banner-885x140.jpg" alt="break System"
                    title="break System" class="img-thumbnail"/></div>
            <div class="col-sm-10 category_description"><p><br></p></div>
        </div>

        <h3 v-if="loading">Зачекайте, іде пошук тоапрів...</h3>
        <div class="category_filter" v-if="!loading">
            <div class="col-md-4 btn-list-grid">
                <div class="btn-group">
                    <button type="button" id="grid-view" class="btn btn-default"
                            :class="{'active': typeList == 'grid'}"
                            @click="typeList = 'grid'" title="Grid">
                    </button>
                    <button type="button" id="list-view" class="btn btn-default"
                            :class="{'active': typeList == 'list'}"
                            @click="typeList = 'list'" title="List">
                    </button>
                </div>
            </div>
            <div class="compare-total">
                <p v-if="search">По Вашому запиту <b>{{ search }}</b></p>
                <div class="result">Знайдено - {{ products.itemsCount }} товарів</div>

                <!--pagination :pagination="products" @change-page="changePage" :per-page="perPage" :page="page"></pagination-->
            </div>

            <div class="pagination-right">
                <div class="sort-by-wrapper">
                    <div class="col-md-2 text-right sort-by">
                        <label class="control-label" for="input-sort">Сортувати по:</label>
                    </div>
                    <div class="col-md-3 text-right sort">
                        <select id="input-sort" class="form-control" v-model="sort">
                            <option value="endingTime|asc">Оставшееся время</option>
                            <option value="endingTime|desc">Час закінчення</option>
                            <option value="name|asc">Назві (А - Я)</option>
                            <option value="name|desc">Назві (Я - А)</option>
                            <option value="price|asc">Ціні (дешевші &gt; дорожчі)</option>
                            <option value="price|desc">Ціні (дорожчі > дешевші)</option>
                        </select>
                    </div>
                </div>
                <div class="show-wrapper">
                    <div class="col-md-1 text-right show">
                        <label class="control-label" for="input-limit">Показувати:</label>
                    </div>
                    <div class="col-md-2 text-right limit">
                        <select id="input-limit" class="form-control" v-model="perPage">
                            <option :value="15">15</option>
                            <option :value="30">30</option>
                            <option :value="60">60</option>
                            <option :value="150">150</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" v-if="products.itemsList">
            <product v-for="product in products.itemsList.item"
                     :product="product" :class-list-products="classListProducts">
            </product>
        </div>
        <div v-else>
            <h3>Нажаль, по Вашому запиту товарів не знайдено...</h3>
        </div>
        <div class="pagination-wrapper" v-if="products.itemsList">
            <div class="col-sm-6 text-left page-link">
                <pagination :pagination="products" @change-page="changePage" :per-page="perPage" :page="page"></pagination>
            </div>
            <div class="col-sm-6 text-right page-result" v-if="products">
                <span>Знайдено - {{ products.itemsCount }} товарів</span>
            </div>
        </div>
    </div>
</template>
<script>
    import Product from './product.vue'
    import Pagination from '../pagination/index.vue'

    export default {
        name: 'ProductList',
        data() {
            return {
                loading: true,
                typeList: 'list',
                products: {
                    itemsCount: 0,
                    itemsList: {
                        item: []
                    },
                    itemsFeaturedCount: 15
                },
                itemsCount: 0,
                filter: {},
                search: null,
                sort: null,
                perPage: 15,
                page: 1
            }
        },
        computed: {
            classListProducts() {
                return this.typeList == 'list' ? 'product-list col-xs-12' : 'product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12'
            }
        },
        methods: {
            getProducts() {
                var params = {
                    params: {
                        page: this.page,
                        sort: this.sort,
                        perPage: this.perPage,
                        search: this.search,
                        condition: this.filter.condition || null,
                        price: this.filter.price || null
                    }
                }
                ScrollTo.scrollTo('body', 2000)
                loading(true)
                this.loading = false
                this.$http.get('categories/' + this.$route.params.id + '/products', params).then(response => {
                    this.products = response.data.products
                    loading()
                }, err => {
                    loading()

                })
            },
            listenGetProducts() {
                bus.$on('get-products', filter => {
                    this.filter = filter
                    this.getProducts()
                })
            },
            listenSearch() {
                bus.$on('search', search => {
                    this.search = search
                    this.getProducts()
                })
            },
            changePage(page) {
                this.page = page
            }
        },
        watch: {
            '$route' (to, from) {
                this.getProducts()
                this.page = 1
            },
            'sort': 'getProducts',
            'perPage': 'getProducts',
            'page': 'getProducts'
        },
        components: {Product, Pagination},
        created() {
            this.getProducts()
            this.listenGetProducts()
            this.listenSearch()
        }
    }
</script>
