<template>
    <div class="product-layout" :class="classListProducts">
        <div class="product-block product-thumb transition">
            <div class="product-block-inner">
                <div class="product-image-block-inner">
                    <div class="image">
                        <router-link :to="'/products/' + product.itemId">
                            <img :src="getMainPhoto(product.photosInfo.item).photoUrl"
                                 :alt="product.itemTitle" :title="product.itemTitle" class="img-responsive"/>
                        </router-link>
                        <div class="background-overlay"></div>
                        <div class="product_hover_block">
                            <div class="rating">
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            </div>
                            <div class="action">
                                <ul class="button_group">
                                    <li>
                                        <button class="wishlist_button" type="button"
                                                title="Add to WishList" onclick="wishlist.add('42');">
                                            <span class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="compare_button" type="button"
                                                title="Add to Compare" onclick="compare.add('42');">
                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="caption">
                    <h4>
                        <a href="index.php%3Froute=product%252Fproduct&amp;path=20_26_59&amp;product_id=42.html">Auto
                            Engine Parts</a></h4>
                    <p class="price">
                        <span class="price-old">$122.00</span><span class="price-new">$110.00</span>
                        <span class="price-tax">Ex Tax: $90.00</span>
                    </p>
                    <button class="cart_button" type="button" @click="cartAdd(product)"><span
                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                </div>
                <div class="productlist_details">
                    <h4>
                        <router-link :to="'/products/' + product.itemId">
                            {{ product.itemTitle }}
                        </router-link>
                    </h4>

                    <div class="list_left">
                        <table class="product-description">
                            <tr>
                                <td><span>Номер лота:</span></td>
                                <td class="description-right">{{ product.itemId }}</td>
                            </tr>
                            <tr>
                                <td><span>Стан:</span></td>
                                <td class="description-right">{{ product.conditionInfo == 'new' ?  'Новый' : 'Б/У' }}</td>
                            </tr>
                            <tr>
                                <td><span>Доступно</span></td>
                                <td class="description-right">
                                    {{ product.leftCount }}
                                    <span v-if="product.quantityType == 'pieces'">шт.</span>
                                    <span v-if="product.quantityType == 'sets'">компл.</span>
                                    <span v-if="product.quantityType == 'pairs'">пар.</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Куплено:</span></td>
                                <td class="description-right">
                                    {{ product.bidsCount }}
                                    <span v-if="product.quantityType == 'pieces'">шт.</span>
                                    <span v-if="product.quantityType == 'sets'">компл.</span>
                                    <span v-if="product.quantityType == 'pairs'">пар.</span>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Залишилось:</span></td>
                                <td class="description-right">
                                    {{ product.timeToEnd == 'do wyczerpania przedmiotów' ? 'До вичерпання запасів' : product.timeToEnd  }}
                                </td>
                            </tr>
                        </table>
                        <p class="desc"></p>
                        <div class="list_cart_button">
                            <button class="cart_button" :disabled="product.cartAdding" type="button" @click="cartAdd(product)">
                                <span class="hidden-xs hidden-sm hidden-md">
                                    <span v-if="product.cartAdding">Loading...</span>
                                    <span v-else><i class="fa fa-cart-plus"></i> Додати в кошик</span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="list_right">
                        <p class="price">
                            <span class="price-new" v-for="price in product.priceInfo.item"
                                    v-if="price.priceType == 'buyNow'">{{ price.priceValue }} zl</span>
                            <span class="price-tax" v-for="price in product.priceInfo.item"
                                    v-if="price.priceType == 'withDelivery'">с доставкой {{ price.priceValue }}</span>
                        </p>
                        <div class="rating">
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                        </div>
                        <div class="action">
                            <ul class="button_group">
                                <li>
                                    <button class="wishlist_button" type="button"
                                            title="Add to WishList" onclick="wishlist.add('42');"><span
                                            class="hidden-xs hidden-sm hidden-md">Добавити в вибране</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Product',
        data() {
            return {
                msg:'hello vue'
            }
        },
        methods: {

        },
        props: ['product', 'classListProducts'],
        components: {}
    }

</script>
