<template>
    <div class="box">
        <div class="box-content tabbestseller-carousel">
            <div class="customNavigation">
                <a class="btn prev">&nbsp;</a>
                <a class="btn next">&nbsp;</a>
            </div>


            <div class="box-product product-carousel" id="tabbestseller-carousel">


                <div class="slider-item">
                    <div>

                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html">
                                            <img src="../../../assets/image/cache/catalog/2-275x300.jpg"
                                                 alt="Auto Engine Parts"
                                                 title="Auto Engine Parts" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('44');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('44');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html">Auto
                                        Engine Parts</a></h4>
                                    <p class="price">
                                        $1,202.00 <span class="price-tax">Ex Tax: $1,000.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('44');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>


                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=45.html">
                                            <img src="../../../assets/image/cache/catalog/23-275x300.jpg"
                                                 alt="Avante XD-Elantra"
                                                 title="Avante XD-Elantra" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('45');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('45');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=45.html">Avante
                                        XD-Elantra</a></h4>
                                    <p class="price">
                                        $2,000.00 <span class="price-tax">Ex Tax: $2,000.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('45');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="slider-item">
                    <div>

                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=46.html">
                                            <img src="../../../assets/image/cache/catalog/4-275x300.jpg"
                                                 alt="Sell Tubeless"
                                                 title="Sell Tubeless" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('46');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('46');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=46.html">Sell
                                        Tubeless</a></h4>
                                    <p class="price">
                                        $1,202.00 <span class="price-tax">Ex Tax: $1,000.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('46');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>


                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=28.html">
                                            <img src="../../../assets/image/cache/catalog/12-275x300.jpg"
                                                 alt="Aluminum Auto Part"
                                                 title="Aluminum Auto Part" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('28');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('28');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=28.html">Aluminum
                                        Auto Part</a></h4>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('28');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="slider-item">
                    <div>

                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=48.html">
                                            <img src="../../../assets/image/cache/catalog/15-275x300.jpg"
                                                 alt="Sell Tubeless Truck"
                                                 title="Sell Tubeless Truck" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('48');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('48');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=48.html">Sell
                                        Tubeless Truck</a></h4>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('48');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>


                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=47.html">
                                            <img src="../../../assets/image/cache/catalog/11-275x300.jpg"
                                                 alt="Steering Gear Box"
                                                 title="Steering Gear Box" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('47');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('47');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=47.html">Steering
                                        Gear Box</a></h4>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('47');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="slider-item">
                    <div>

                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=41.html">
                                            <img src="../../../assets/image/cache/catalog/13-275x300.jpg"
                                                 alt="Etiam tristique nisl " title="Etiam tristique nisl "
                                                 class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('41');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('41');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=41.html">Etiam
                                        tristique nisl </a></h4>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('41');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>


                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=36.html">
                                            <img src="../../../assets/image/cache/catalog/16-275x300.jpg"
                                                 alt="Lorem Ipsum seat"
                                                 title="Lorem Ipsum seat" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('36');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('36');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=36.html">Lorem
                                        Ipsum seat</a></h4>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('36');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="slider-item">
                    <div>

                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=29.html">
                                            <img src="../../../assets/image/cache/catalog/24-275x300.jpg"
                                                 alt="Automotive door"
                                                 title="Automotive door" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('29');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare"
                                                                onclick="compare.add('29');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=29.html">Automotive
                                        door</a></h4>
                                    <p class="price">
                                        $337.99 <span class="price-tax">Ex Tax: $279.99</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('29');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <span class="tabbestseller_default_width" style="display:none; visibility:hidden"></span>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {},
        mounted() {
            productCarouselAutoSet('tabbestseller-carousel')
        }
    }
</script>
