<template>
    <div class="hometab container">
        <div id="tabs" class="htabs">
            <ul class="etabs">
                <li class="tab">
                    <a href="javascript:void(0)" :class="{'selected': activeTab == 'latest'}" @click="activeTab = 'latest'">Latest</a>
                </li>
                <li class="tab">
                    <a href="javascript:void(0)" :class="{'selected': activeTab == 'bestseller'}" @click="activeTab = 'bestseller'">Bestseller</a>
                </li>
                <li class="tab">
                    <a href="javascript:void(0)" :class="{'selected': activeTab == 'special'}" @click="activeTab = 'special'">Special</a>
                </li>
            </ul>
        </div>

        <transition-group name="your" mode="out-in">
            <div id="tab-latest" class="tab-content" v-if="activeTab == 'latest'" key="latest">
                <latest></latest>
            </div>
            <div id="tab-bestseller" class="tab-content"  v-if="activeTab == 'bestseller'" key="bestseller">
                <bestseller></bestseller>
            </div>
            <div id="tab-special" class="tab-content"  v-if="activeTab == 'special'" key="special">
                <special></special>
            </div>
        </transition-group>
    </div>
</template>
<script>
    import Latest from './latest.vue'
    import Bestseller from './bestseller.vue'
    import Special from './special.vue'

    export default {
        data() {
            return {
                activeTab: 'latest'
            }
        },
        components: {Latest, Bestseller, Special},
    }

</script>
