<template>
    <div class="box">
        <div class="box-content">

            <div class="box-product productbox-grid" id="tabspecial-grid">


                <div class="product-items">

                    <div class="product-block product-thumb transition">
                        <div class="product-block-inner">
                            <div class="product-image-block-inner">
                                <div class="image">
                                    <a href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html">
                                        <img src="../../../assets/image/cache/catalog/1-275x300.jpg"
                                             alt="Auto Engine Parts"
                                             title="Auto Engine Parts" class="img-responsive"/></a>
                                    <div class="background-overlay"></div>
                                    <span class="saleicon sale">Sale</span>

                                    <div class="product_hover_block">
                                        <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                        </div>
                                        <div class="action">
                                            <ul class="button_group">
                                                <li>
                                                    <button class="wishlist_button" type="button"
                                                            title="Add to WishList"
                                                            onclick="wishlist.add('42');">
                                                        <span class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="compare_button" type="button"
                                                            title="Add to Compare" onclick="compare.add('42');">
                                                        <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="caption">
                                <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html">Auto
                                    Engine Parts</a></h4>
                                <p class="price">
                                    <span class="price-old">$122.00</span><span class="price-new">$110.00</span>
                                    <span class="price-tax">Ex Tax: $90.00</span>
                                </p>
                                <button class="cart_button" type="button" onclick="cart.add('42');"><span
                                        class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="product-items">

                    <div class="product-block product-thumb transition">
                        <div class="product-block-inner">
                            <div class="product-image-block-inner">
                                <div class="image">
                                    <a href="index.php%3Froute=product%252Fproduct&amp;product_id=30.html">
                                        <img src="../../../assets/image/cache/catalog/10-275x300.jpg"
                                             alt="Steering Gear"
                                             title="Steering Gear" class="img-responsive"/></a>
                                    <div class="background-overlay"></div>
                                    <span class="saleicon sale">Sale</span>

                                    <div class="product_hover_block">
                                        <div class="rating">
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                            <span class="fa fa-stack"><i
                                                    class="fa fa-star fa-stack-1x"></i></span>
                                        </div>
                                        <div class="action">
                                            <ul class="button_group">
                                                <li>
                                                    <button class="wishlist_button" type="button"
                                                            title="Add to WishList"
                                                            onclick="wishlist.add('30');">
                                                        <span class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="compare_button" type="button"
                                                            title="Add to Compare" onclick="compare.add('30');">
                                                        <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="caption">
                                <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=30.html">Steering
                                    Gear</a></h4>
                                <p class="price">
                                    <span class="price-old">$122.00</span><span class="price-new">$98.00</span>
                                    <span class="price-tax">Ex Tax: $80.00</span>
                                </p>
                                <button class="cart_button" type="button" onclick="cart.add('30');"><span
                                        class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <span class="tabspecial_default_width" style="display:none; visibility:hidden"></span>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {}
    }
</script>
