<template>
    <form method="post" @submit.prevent="submitReview" class="form-horizontal">
        <fieldset>
            <div class="form-group required">
                <label for="input-name" class="col-sm-2 control-label">Ім'я</label>
                <div class="col-sm-10">
                    <input type="text" id="input-name" class="form-control" v-model="review.name">
                </div>
            </div>
            <div class="form-group required">
                <label for="input-email" class="col-sm-2 control-label">E-Mail</label>
                <div class="col-sm-10">
                    <input type="text" id="input-email" class="form-control" v-model="review.email">
                </div>
            </div>
            <div class="form-group required">
                <label for="input-enquiry" class="col-sm-2 control-label">Коментар</label>
                <div class="col-sm-10">
                    <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control" v-model="review.text"></textarea>
                </div>
            </div>
            <div class="buttons">
                <div class="pull-right"><input type="submit" value="Відправити" class="btn btn-primary"></div>
            </div>
        </fieldset>
    </form>
</template>
<script>
    export default {
        data() {
            return {
                msg: 'hello vue',
                review: {}
            }
        },
        methods: {
            submitReview() {
                this.$emit('submit-review', this.review)
            }
        },
        components: {}
    }

</script>
