<template>
    <div id="content" class="col-sm-9">
        <create-review @submit-review="submitReview"></create-review>
        <fieldset>
            <h3>Відгуки ({{ reviews.length }})</h3>
            <list-reviews :reviews="reviews"></list-reviews>
        </fieldset>
    </div>
</template>
<script>
    import Notifications from '../notifications/notifications.js'
    import CreateReview from './create.vue'
    import ListReviews from './list.vue'

    export default {
        data() {
            return {
                reviews: []
            }
        },
        methods: {
            getReviews() {
                loading(true)
                this.$http.get('reviews').then(response => {
                    this.reviews = response.data.reviews
                    loading()
                }, err => {
                    loading()
                })
            },
            submitReview(review) {
                loading(true)
                this.$http.post('reviews', review).then(response => {
                    this.reviews.push(response.data.review)
                     Notifications.add({
                        title: 'Success!!',
                        text: 'Отзыв успещно отправлен, спасибо за Ваш интерес',
                        type: 'success',
                        timeout: true
                    })
                    loading()
                }, err => {
                    if (err.response.status == 422) {
                        var errors = err.response.data

                        Notifications.add({
                            title: 'danger!!',
                            text: Object.keys(errors).map((key, index) => {return errors[key]}).join("<br>"),
                            type: 'danger',
                            timeout: true
                        })
                    }
                    loading()
                })
            }
        },
        components: {CreateReview, ListReviews},
        created() {
            this.getReviews()
        }
    }
</script>
