<template>
    <div>
        <div v-for="review in reviews">
            <div class="review">
                <p>
                    <span class="name">{{ review.name }}:</span>
                    <span class="date"> {{ review.created_at }}</span>
                </p>
                <div>
                    <div class="user"><span><i class="fa fa-user fa-3x" ></i></span></div>
                    <div class="about-content">{{ review.text }}</div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    export default {
        data() {
            return {
            }
        },
        props: ['reviews'],
        components: {}
    }

</script>
