.notification {
    position: fixed;
    top: 0;
    right: 20px;
    margin: 20px;
    width: 300px;
    z-index: 99;
}
.notification button {
    position: relative;
    top: -30px;
    right: -5px;
}