<template>
    <transition name="your" mode="out-in">
        <router-view></router-view>
    </transition>
</template>
<style lang="css">
    .your-enter-active, .your-leave-active {
        transition: opacity .8s
    }

    .your-enter, .your-leave-active {
        opacity: 0
    }
</style>
<script>
    export default {
        name: 'Content',
        data() {
            return {
                msg: 'hello vue'
            }
        },
        components: {}
    }
</script>
