<template>
    <footer>
        <loading></loading>
        <div class="footer-top">
            <div class="home-about-me container">
                <div class="tm-about-text">
                    <div class="footer_title1">You like this ?<span class="footer_title2">Purchase Glorious Auto </span>
                        <span class="Footer_title3">Responsive Opencart Theme</span></div>
                </div>
                <div class="aboutme-read-more"><a href="#" title="Purchase">Purchase Now!</a></div>
            </div>
        </div>
        <div id="footer" class="container">

            <div class="row">
                <div class="col-sm-3 column" id="footer_aboutus_block"><h5>About US</h5>
                    <ul>
                        <li class="tm-about-logo"><a href="#" target="_blank"><img alt=""
                                                                                   src="../../assets/image/catalog/footer-logo.png">
                        </a></li>
                    </ul>
                    <ul class="tm-about-description">
                        <li>Нові, б/у автозапчастини, запчастини із Польщі. Предоставляєм - пошук, замовлення, доставку запчастан в Україну.
                            Кращі кузовні автозапчастини із Польщі Allegro.
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 column">
                    <h5>Інформація</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="">Як зробити замовлення?</a></li>
                        <li>
                            <a href="">Доставка</a></li>
                        <li>
                            <a href="">Вартість доставки</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 column last"><h5>Контакти</h5>

                    <ul>

                        <li class="address">м. Добромиль, Львівська обл</li>

                        <li class="phoneno">+38-096-99-99-999</li>

                        <li class="email"><a href="#">support@autostore.com</a></li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_bottom_inner container">
                <div class="footer_left"><h5>Payment Block</h5>
                    <ul class="payment_block">
                        <li class="visa"><a href="#"> </a></li>
                        <li class="mastro"><a href="#"> </a></li>
                        <li class="paypal"><a href="#"> </a></li>
                        <li class="amex"><a href="#"> </a></li>
                    </ul>
                </div>
                <div class="footer_center"></div>
                <div class="footer_right"><h5>Follow Us</h5>
                    <ul class="social_block">
                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="rss"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="linkin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p>2010-2017. {{ t('copyright') }}</p>
    </footer>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {}
    }

</script>
