<template>
    <header>
        <div class="container">
            <div class="row">
                <div class="header_inner">
                    <div class="header_left">
                        <div class="header_left_top">
                            <div class="contact_no">
                                <span class="hidden-xs hidden-sm hidden-md"><i class="fa fa-phone"></i> Пн.-Пт.: 9:00-18:00 - Сб.: 10:00-15:00 - Вс.: выходной</span>
                            </div>
                        </div>
                        <div class="header_left_bottom">
                            <div id="top-links" class="nav pull-right">
                                <ul class="list-inline">
                                    <li>
                                        <router-link :to="{name: 'about-us'}">{{ t('about_us') }}</router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'contacts'}">{{ t('contacts') }}</router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'reviews'}">{{ t('reviews') }}</router-link>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="header_center">

                        <div id="logo">
                            <router-link :to="{name: 'home'}">
                                <img src="http://opencart.templatemela.com/OPC08/OPC080185/OPC5/image/catalog/logo.png"
                                        title="Your Store" alt="Your Store" class="img-responsive"/>
                            </router-link>
                        </div>
                    </div>
                    <div class="header_right">
                        <div class="header_right1">
                            <header-cart></header-cart>
                        </div>
                        <div class="header_right2">
                            <div class="header_right_top">
                                <div class="search">
                                    <form @submit.prevent="triggerSearch">
                                        <div id="search" class="input-group">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-default btn-lg"></button>
                                            </span>
                                            <input v-model="search" :placeholder="t('search')"
                                                   class="form-control input-lg"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="header_right_bottom">
                                <div class="pull-left language">
                                    <form id="language">
                                        <div class="btn-group">
                                            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                                <img src="../../assets/image/flags/ua.png" :alt="activeLang.name" :title="activeLang.name" v-if="activeLang.prefix == 'ua'">
                                                <img src="../../assets/image/flags/ru.png" :alt="activeLang.name" :title="activeLang.name" v-if="activeLang.prefix == 'ru'">
                                                <span class="hidden-xs hidden-sm hidden-md">{{ activeLang.name }}</span>
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                            <ul class="dropdown-menu language-menu">
                                                <li>
                                                    <a href="javascript:void(0)" @click="changeLang('ua')">
                                                        <img src="../../assets/image/flags/ua.png" alt="Українська" title="Українська"/>
                                                        Українська
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" @click="changeLang('ru')">
                                                        <img src="../../assets/image/flags/ru.png" alt="Русский" title="Русский"/>
                                                        Русский
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                                <!--div class="pull-left currency">
                                    <form action="http://opencart.templatemela.com/OPC08/OPC080185/OPC5/index.php?route=common/currency/currency"
                                          method="post" enctype="multipart/form-data" id="currency">
                                        <div class="btn-group">
                                            <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                                <strong>$</strong>
                                                <span class="hidden-xs hidden-sm hidden-md">Currency</span> <i
                                                    class="fa fa-caret-down"></i></button>
                                            <ul class="dropdown-menu currency-menu">
                                                <li>
                                                    <button class="currency-select btn btn-link btn-block" type="button"
                                                            name="EUR">€ Euro
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="currency-select btn btn-link btn-block" type="button"
                                                            name="GBP">£ Pound Sterling
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="currency-select btn btn-link btn-block" type="button"
                                                            name="USD">$ US Dollar
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="code" value=""/>
                                        <input type="hidden" name="redirect"
                                               value="http://opencart.templatemela.com/OPC08/OPC080185/OPC5/index.php?route=common/home"/>
                                    </form>
                                </div-->
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <nav class="nav-container" role="navigation">
            <div class="nav-inner">
                <div class="nav-inner-container">
                    <!-- ======= Menu Code START ========= -->
                    <!-- Opencart 3 level Category Menu-->
                    <div class="container">
                        <div id="menu" class="main-menu">

                            <div class="nav-responsive"><span>Menu</span>
                                <div class="expandable"></div>
                            </div>

                            <ul class="main-navigation">
                                <li>
                                    <router-link to="/"><i class="fa fa-home"></i></router-link>
                                </li>
                                <li  v-for="category in categories">
                                    <router-link :to="'/categories/' + category.id + '/products'">{{ category.name_ru }}</router-link>
                                    <div class="categorybg">
                                        <ul>
                                            <li class="categorycolumn">
                                                <b>
                                                    <router-link class="submenu1"  :to="'/categories/' + category.id + '/products'"> Категорії</router-link>
                                                </b>
                                                <div class="cate_inner_bg">
                                                    <ul>
                                                        <li style="padding-right:6px;" v-for="category in category.children">
                                                            <router-link :to="'/categories/' + category.id + '/products'"> {{ category.name_ru }}</router-link>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!--  =============================================== Mobile menu start  =============================================  -->
                        <div id="res-menu" class="main-menu nav-container1">
                            <div id="res-menu1" class="main-menu1 nav-container2">
                                <div class="nav-responsive"><span>Menu</span>
                                    <div class="expandable"></div>
                                </div>
                                <ul class="main-navigation">
                                    <li>
                                        <router-link to="/">Головна</router-link>
                                    </li>
                                    <li  v-for="category in categories">
                                        <router-link :to="{name: 'catalog'}">{{ category.name_ru }}</router-link>
                                        <div class="categorybg">
                                            <ul v-for="child in category.children">
                                                <li class="categorycolumn">
                                                    <b>
                                                        <router-link class="submenu1"  :to="'/categories/' + category.id + '/products'"> {{ child.name_ru }}</router-link>
                                                    </b>
                                                    <div class="cate_inner_bg">
                                                        <ul>
                                                            <li style="padding-right:6px;" v-for="category in category.children">
                                                                <router-link :to="'/categories/' + category.id + '/products'"> {{ category.name_ru }}</router-link>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'catalog'}">Каталог</router-link>
                                        <div class="categorybg">
                                            <!--	<span class="active_menu"></span>-->
                                            <div class="categoryinner">
                                                <ul v-for="category in categories">
                                                    <li class="categorycolumn">
                                                        <b>
                                                            <router-link class="submenu1"  :to="'/categories/' + category.id + '/products'"> {{ category.name_ru }}</router-link>
                                                        </b>
                                                        <div class="cate_inner_bg">
                                                            <!--ul>
                                                                <li style="padding-right:6px;" v-for="category in category.children">
                                                                    <router-link :to="'/categories/' + category.id + '/products'"> {{ category.name_ru }}</router-link>
                                                                </li>
                                                            </ul-->
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'about-us'}" v-translate>about_us</router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'contacts'}" v-translate>contacts</router-link>
                                    </li>
                                    <li>
                                        <router-link :to="{name: 'reviews'}">Відгуки</router-link>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!--  ================================ Mobile menu end   ======================================   -->
                        <!-- ======= Menu Code END ========= -->
                    </div>
                </div>
            </div>
        </nav>
    </header>
</template>
<script>
    import HeaderCart from '../cart/header-cart.vue'

    export default {
        locales: require('../../i18n/header.js'),
        data() {
            return {
                search: '',
                categories: [],
                langs: [
                    {name: 'Українська', prefix: 'ua'},
                    {name: 'Руский', prefix: 'ru'}
                ],
                activeLang: {}
            }
        },
        methods: {
            getCategories() {
                this.$http.get('categories').then(response => {
                    this.categories = response.data.categories
                }, err => {

                })
            },
            triggerSearch() {
                this.$router.push('/categories/2/products')
                bus.$emit('search', this.search)
            },
            changeLang(lang) {
                this.activeLang = lang == 'ru' ? this.langs[1] : this.langs[0]
                this.$translate.setLang(lang)
            }
        },
        components: {HeaderCart},
        mounted() {
            this.getCategories()
            this.changeLang('ua')
        }
    }


</script>
