<template>
    <div class="row">
        <div class="col-sm-6 product-left">
            <div class="product-info">
                <ul class="left product-image thumbnails">
                    <!-- Megnor Cloud-Zoom Image Effect Start -->
                    <li class="image">
                        <a class="thumbnail" :href="originalImage" title="Forged Auto Parts">
                            <img :src="mainImage" :title="product.itemInfo.itName" :alt="product.itemInfo.itName"/>
                        </a>
                    </li>
                    <div class="additional-carousel">
                        <div class="customNavigation">
                            <span class="btn prev">&nbsp;</span>
                            <span class="btn next">&nbsp;</span>
                        </div>

                        <div id="additional-carousel" class="image-additional product-carousel">
                            <div class="slider-item" v-for="image in previewImages">
                                <div class="product-block">
                                    <a :href="image.imageUrl" title="Forged Auto Parts"
                                       class="thumbnail elevatezoom-gallery"
                                       data-image="http://opencart.templatemela.com/OPC08/OPC080185/OPC5/../../assets/image/cache/catalog/17-78x85.jpg"
                                       data-zoom-image="http://opencart.templatemela.com/OPC08/OPC080185/OPC5/../../assets/image/cache/catalog/17-917x1000.jpg">
                                        <img id="cloud-zoom" :src="image.imageUrl"
                                            :title="product.itemInfo.itName" :alt="product.itemInfo.itName"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span class="additional_default_width" style="display:none; visibility:hidden"></span>
                    </div>
                </ul>
            </div>
        </div>

        <div class="col-sm-6 product-right">
            <h3 class="product-title"><span class="prduct_name">{{ product.itemInfo.itName }}</span><span
                    class="dark_area"></span></h3>
            <div class="rating-wrapper">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
            </div>

            <div class="description">
                <table class="product-description"> <!-- Megnor <table> Start -->
                    <tr>
                        <td><span>Номер лота:</span></td>
                        <td class="description-right">{{ product.itemInfo.itId }}</td>
                    </tr>
                    <tr>
                        <td><span>Стан:</span></td>
                        <td class="description-right">{{ product.itemInfo.itIsNewUsed == '1' ?  'Новый' : 'Б/У' }}</td>
                    </tr>
                    <tr>
                        <td><span>Доступно</span></td>
                        <td class="description-right">
                            {{ product.itemInfo.itQuantity }}
                            <span v-if="product.quantityType == 'pieces'">шт.</span>
                            <span v-if="product.quantityType == 'sets'">компл.</span>
                            <span v-if="product.quantityType == 'pairs'">пар.</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Куплено:</span></td>
                        <td class="description-right">
                            {{ product.itemInfo.itBidCount }}
                            <span v-if="product.quantityType == 'pieces'">шт.</span>
                            <span v-if="product.quantityType == 'sets'">компл.</span>
                            <span v-if="product.quantityType == 'pairs'">пар.</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span>Залишилось:</span></td>
                        <td class="description-right">
                            {{ product.itemInfo.itEndingInfo == 1 == 'do wyczerpania przedmiotów' ? 'До вичерпання запасів' : product.timeToEnd  }}
                            <span v-if="product.itemInfo.itEndingTime >= 1">{{ product.itemInfo.itEndingTime }}</span>
                            <span v-else="product.itemInfo.itEndingInfo == 1">До вичерпання запасів</span>
                        </td>
                    </tr>
                    <tr v-if="product.itemAttribs.length" v-for="attribute in product.itemAttribs.item" >
                        <td><span>{{ attribute.attribName }}:</span></td>
                        <td class="description-right">{{ attribute.attribValues.item }}</td>
                    </tr>
                </table>
            </div>
            <ul class="list-unstyled">
                <li>
                    <h3 class="product-price">{{ product.itemInfo.itBuyNowPrice }} zl</h3>
                </li>
            </ul>
            <div id="product">
                <div class="form-group quantity">
                    <label class="control-label qty" for="input-quantity">К-сть</label>
                    <input type="text" v-model="quantity" size="2" id="input-quantity" class="form-control"/>
                    <button type="button" id="button-cart" @click="cartAdd(product.itemInfo, quantity)"
                            class="btn btn-primary btn-block">Добавить в корзину
                    </button>
                </div>
            </div>

            <div class="btn-group">
                <button type="button" class="btn wishlist" title="Add to WishList" onclick="wishlist.add('49');">
                    <span class="hidden-xs hidden-sm hidden-md">Добавити в вибране</span></button>
                <button type="button" class="btn compare" title="Add to Compare" onclick="compare.add('49');"><span
                        class="hidden-xs hidden-sm hidden-md">Add to Compare</span></button>
            </div>
        </div>
        <div class="col-sm-12 product_bottom">
            <ul class="nav nav-tabs">
                <li :class="{active: tabIsDescription}"><a href="javascript:void(0)" @click="activeTab = 'description'">Опис</a></li>
                <li :class="{active: tabIsReview}"><a href="javascript:void(0)" @click="activeTab = 'review'">Відгуки (0)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" :class="{active: tabIsDescription}"
                     v-if="tabIsDescription" id="tab-description" v-html="product.itemInfo.itDescription">
                </div>
                <div class="tab-pane" :class="{active: tabIsReview}" v-if="tabIsReview" id="tab-review">
                    <form class="form-horizontal">
                        <div id="review"></div>
                        <h3>Write a review</h3>
                        <div class="form-group required">
                            <div class="col-sm-12">
                                <label class="control-label" for="input-name">Your Name</label>
                                <input type="text" name="name" value="" id="input-name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group required">
                            <div class="col-sm-12">
                                <label class="control-label" for="input-review">Your Review</label>
                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                <div class="help-block"><span class="text-danger">Note:</span> HTML is not
                                    translated!
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <div class="col-sm-12">
                                <label class="control-label">Rating</label>
                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                <input type="radio" name="rating" value="1"/>
                                &nbsp;
                                <input type="radio" name="rating" value="2"/>
                                &nbsp;
                                <input type="radio" name="rating" value="3"/>
                                &nbsp;
                                <input type="radio" name="rating" value="4"/>
                                &nbsp;
                                <input type="radio" name="rating" value="5"/>
                                &nbsp;Good
                            </div>
                        </div>
                        <div class="form-group required">
                            <div class="col-sm-12">
                                <label class="control-label" for="input-captcha">Enter the code in the box
                                    below</label>
                                <input type="text" name="captcha" value="" id="input-captcha" class="form-control"/>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="pull-right">
                                <button type="button" id="button-review" data-loading-text="Loading..."
                                        class="btn btn-primary">Continue
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data() {
            return {
                activeTab: 'description',
                quantity: 1
            }
        },
        props: ['product'],
        components: {},
        computed: {
            tabIsDescription() {
                return this.activeTab == 'description'
            },
            tabIsReview() {
                return this.activeTab == 'review'
            },
            originalImage() {
                return this.product.itemImages.item.find(value => {return value.imageType == 3}).imageUrl
            },
            mainImage() {
                return this.product.itemImages.item.find(value => {return value.imageType == 2}).imageUrl
            },
            previewImages() {
                return this.product.itemImages.item.filter(value => {return value.imageType == 3})
            }
        },
        mounted() {
            productCarouselAutoSet('additional-carousel')
            $('.thumbnails').magnificPopup({
                type:'image',
                delegate: 'a',
                gallery: {
                    enabled: true
                }
            });
        }
    }

</script>
