<template>
    <div id="content" class="productpage col-sm-9">
        <h3 v-if="loading">Загрузка...</h3>
        <template v-if="product && !loading">
            <product-content :product="product" v-if="product.itemInfo"></product-content>
            <related-products></related-products>
        </template>
    </div>
</template>
<script>
    import ProductContent from './content.vue'
    import RelatedProducts from './related-products.vue'

    export default {
        name: 'ProductDetail',
        data() {
            return {
                product: {},
                loading: true
            }
        },
        methods: {
            getProduct() {
                loading(true)
                this.$http.get('products/' + this.$route.params.id).then(response => {
                    this.product = response.data.product
                    this.loading = false
                    this.$emit('change-title', this.product.itemInfo.itName)
                    var self = this
                    window.setTimeout(function () {
                        self.head.title = '324234'
                        self.$emit('updateHead')
                    }, 1000)
                    this.$emit('change-breadcrumbs', this.product.breadcrumbs)
                    loading()
                }, err => {
                    console.log('Error')
                    loading(false)
                    this.loading = false
                })
            },
            getAsyncData: function () {
            },
            saveToViewedProducts() {
                var viewedProducts = localStorage.getItem('viewed-products') || []
                var productId = this.$route.params.id

                if(viewedProducts.length) {
                    viewedProducts = JSON.parse(viewedProducts)
                }

                if(viewedProducts.indexOf(productId) === -1) {
                    if(viewedProducts.length >= 5) {
                        viewedProducts.splice(viewedProducts.length - 1, 1)
                    }
                    viewedProducts.unshift(productId)
                }

                localStorage.setItem('viewed-products', JSON.stringify(viewedProducts))
            },
        },
        components: {ProductContent, RelatedProducts},
        mounted() {
        },
        created() {
            this.getProduct()
            this.saveToViewedProducts()
            this.getAsyncData()
        }
    }


</script>