<template>
    <div class="box related">
        <div class="box-heading related">Related Products<span class="dark_area"></span></div>
        <div class="box-content">
            <div id="products-related" class="related-products">

                <div class="customNavigation">
                    <a class="btn prev">&nbsp;</a>
                    <a class="btn next">&nbsp;</a>
                </div>


                <div class="box-product product-carousel" id="related-carousel">

                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=28.html">
                                            <img src="../../assets/image/cache/catalog/12-275x300.jpg" alt="Aluminum Auto Part"
                                                 title="Aluminum Auto Part" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('28');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('28');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=28.html">Aluminum
                                        Auto Part</a></h4>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('28');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=29.html">
                                            <img src="../../assets/image/cache/catalog/24-275x300.jpg" alt="Automotive door"
                                                 title="Automotive door" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('29');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('29');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=29.html">Automotive
                                        door</a></h4>
                                    <p class="price">
                                        $337.99 <span class="price-tax">Ex Tax: $279.99</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('29');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=31.html">
                                            <img src="../../assets/image/cache/catalog/22-275x300.jpg" alt="Sell Tubeless Truck"
                                                 title="Sell Tubeless Truck" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('31');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('31');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=31.html">Sell
                                        Tubeless Truck</a></h4>
                                    <p class="price">
                                        $98.00 <span class="price-tax">Ex Tax: $80.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('31');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=32.html">
                                            <img src="../../assets/image/cache/catalog/18-275x300.jpg" alt="Sample Lorem Ipsum"
                                                 title="Sample Lorem Ipsum" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('32');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('32');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=32.html">Sample
                                        Lorem Ipsum</a></h4>
                                    <p class="price">
                                        $122.00 <span class="price-tax">Ex Tax: $100.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('32');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=33.html">
                                            <img src="../../assets/image/cache/catalog/demo/samsung_syncmaster_941bw-275x300.jpg"
                                                 alt="Samsung SyncMaster 941BW" title="Samsung SyncMaster 941BW"
                                                 class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('33');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('33');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=33.html">Samsung
                                        SyncMaster 941BW</a></h4>
                                    <p class="price">
                                        $242.00 <span class="price-tax">Ex Tax: $200.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('33');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=40.html">
                                            <img src="../../assets/image/cache/catalog/14-275x300.jpg" alt="Avante XD-Elantra"
                                                 title="Avante XD-Elantra" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('40');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('40');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=40.html">Avante
                                        XD-Elantra</a></h4>
                                    <p class="price">
                                        $123.20 <span class="price-tax">Ex Tax: $101.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('40');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html">
                                            <img src="../../assets/image/cache/catalog/1-275x300.jpg" alt="Auto Engine Parts"
                                                 title="Auto Engine Parts" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>
                                        <span class="saleicon sale">Sale</span>

                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('42');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('42');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html">Auto
                                        Engine Parts</a></h4>
                                    <p class="price">
                                        <span class="price-old">$122.00</span><span class="price-new">$110.00</span>
                                        <span class="price-tax">Ex Tax: $90.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('42');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html">
                                            <img src="../../assets/image/cache/catalog/2-275x300.jpg" alt="Auto Engine Parts"
                                                 title="Auto Engine Parts" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('44');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('44');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html">Auto
                                        Engine Parts</a></h4>
                                    <p class="price">
                                        $1,202.00 <span class="price-tax">Ex Tax: $1,000.00</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('44');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block product-thumb transition">
                            <div class="product-block-inner">
                                <div class="product-image-block-inner">
                                    <div class="image">
                                        <a href="index.php%3Froute=product%252Fproduct&amp;product_id=49.html">
                                            <img src="../../assets/image/cache/catalog/21-275x300.jpg" alt="Forged Auto Parts"
                                                 title="Forged Auto Parts" class="img-responsive"/></a>
                                        <div class="background-overlay"></div>


                                        <div class="product_hover_block">
                                            <div class="rating">
                                                    <span class="fa fa-stack"><i
                                                            class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i
                                                        class="fa fa-star fa-stack-1x"></i></span>
                                            </div>
                                            <div class="action">
                                                <ul class="button_group">
                                                    <li>
                                                        <button class="wishlist_button" type="button"
                                                                title="Add to WishList"
                                                                onclick="wishlist.add('49');"><span
                                                                class="hidden-xs hidden-sm hidden-md">Add to WishList</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="compare_button" type="button"
                                                                title="Add to Compare" onclick="compare.add('49');">
                                                            <span class="hidden-xs hidden-sm hidden-md">Add to Compare</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="caption">
                                    <h4><a href="index.php%3Froute=product%252Fproduct&amp;product_id=49.html">Forged
                                        Auto Parts</a></h4>
                                    <p class="price">
                                        $241.99 <span class="price-tax">Ex Tax: $199.99</span>
                                    </p>
                                    <button class="cart_button" type="button" onclick="cart.add('49');"><span
                                            class="hidden-xs hidden-sm hidden-md">Add to Cart</span></button>
                                </div>
                                <span class="related_default_width" style="display:none; visibility:hidden"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        methods: {
            getProducts() {
                this.$http.get('products/' + this.$route.params.id + '/related').then(response => {
                    this.products = response.data.products
                    productCarouselAutoSet('related-carousel')
                }, err => {
                    console.log('Error')
                })
            },
        },
        components: {},
        mounted() {
            //this.getProducts()
            productCarouselAutoSet('related-carousel')
        }
    }
</script>
