<template>
    <div class="autobanner1 container">
        <div class="banner auto1">
            <div class="autobanner1_1"><a href="#"><img alt="" src="../../assets/image/catalog/sub-banner1.jpg"></a></div>
        </div>
        <div class="banner auto2">
            <div class="autobanner1_2"><a href="#"><img alt="" src="../../assets/image/catalog/sub-banner2.jpg"></a></div>
        </div>
        <div class="banner auto3">
            <div class="autobanner1_3"><a href="#"><img alt="" src="../../assets/image/catalog/sub-banner3.jpg"></a></div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {}
    }

</script>
