<template>
    <div id="carousel-0" class="banners-slider-carousel">
        <div class="box-heading"><span class="heading_inner">Our Brands</span></div>
        <div class="customNavigation">
            <a class="btn prev">&nbsp;</a>
            <a class="btn next">&nbsp;</a>
        </div>
        <div class="product-carousel" id="module-0-carousel">
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo5-200x60.png"
                                                   alt="BrightFuture"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo4-200x60.png"
                                                   alt="Universe"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo3-200x60.png"
                                                   alt="PaperBird"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo2-200x60.png"
                                                   alt="KidsMart"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo1-200x60.png"
                                                   alt="Redleaf"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo5-200x60.png"
                                                   alt="BrightFuture"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo4-200x60.png"
                                                   alt="Universe"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo3-200x60.png"
                                                   alt="Paperbird"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo2-200x60.png"
                                                   alt="KidsMart"/></a>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="product-block">
                    <div class="product-block-inner">
                        <a href="index.html#"><img src="../../assets/image/cache/catalog/logo1-200x60.png"
                                                   alt="RedLeaf"/></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="module_default_width" style="display:none; visibility:hidden"></span>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {},
        mounted() {
            productCarouselAutoSet('module-0-carousel')
        }
    }
</script>
