<template>
    <div class="testimonials-category " id="testimonial">
        <div class="static_left">
            <div class="category-title"><h5>Популярные категории</h5></div>
        </div>
        <div class="static_right">
            <div class="homepage-testimonials-inner products block_content">
                <div class="products product-carousel" id="testimonial-carousel">
                    <div class="slider-item">
                        <div class="cate-block category2"><a
                                href="http://opencart-demos.org/OPC08/OPC080185/OPC5/index.php?route=product/category&amp;path=18"><span
                                class="cate-banner"><img alt=""
                                                         src="../../assets/image/catalog/cat1.jpg"></span><span
                                class="banner-hover"><span>wheel</span><span
                                class="price">45% off</span><span class="description">Lorem ipsum dolor sit amet quam odio tempus ac varius tellus varius ac </span></span></a>
                        </div>
                    </div>
                </div>
                <div class="customNavigation"><a class="btn prev">&nbsp;</a> <a class="btn next">&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="testimonial_default_width" style="display: none; visibility: hidden;">&nbsp;</div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {},
        mounted() {
            productCarouselAutoSet('testimonial-carousel')
        }
    }

</script>