<template>
    <div>
        <slider></slider>
        <banners></banners>
        <products></products>
        <video-outer></video-outer>
        <div class="container">
            <div class="row">
                <div id="content" class="col-sm-12">
                    <categories></categories>
                    <latest-news></latest-news>
                    <brands></brands>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Slider from './slider'
    import Banners from './banners'
    import Products from './products/index'
    import VideoOuter from './video'
    import Categories from './categories'
    import LatestNews from './latest-news.vue'
    import Brands from './brands.vue'

    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {Slider, Banners, Products, VideoOuter, Categories, LatestNews, Brands}
    }
</script>
