<template>
    <div class="testimonials-container " id="testcms">
        <div class="box-heading"><span class="heading_inner">Последние новости</span></div>
        <div class="homepage-testcms-inner products block_content">
            <div class="products product-carousel" id="testcms-carousel">
                <div class="slider-item" v-for="news in latestNews">
                    <div class="blog1">
                        <div class="img">
                            <div class="img_inner">
                                <a href="index.html#"><img alt="" src="../../assets/image/catalog/blog1.jpg"></a>
                            </div>
                        </div>
                        <div class="content-wrapper">
                            <div class="blog_date"><span class="day_date">18</span><span class="day_month">Mar</span>
                            </div>
                            <div class="title">
                                <router-link :to="'/news/' + news.id">{{ news.title }}</router-link></div>
                            <div class="desc">Specimen book. It has survived not only five centuries, but
                                also the leap into electronic.
                            </div>
                            <div class="comment">5 Comments - post by admin</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customNavigation"><a class="btn prev">&nbsp;</a> <a class="btn next">&nbsp;</a>
            </div>
        </div>
        <div class="testcms_default_width" style="display: none; visibility: hidden;">&nbsp;</div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                latestNews: [1, 2, 3, 5, 6]
            }
        },
        methods: {
            getNews() {
                this.$http.get('news/latest').then(response => {
                    this.latestNews = response.data.news
            productCarouselAutoSet('testcms-carousel')
                }, err => {
                    console.log(err)
                })
            }
        },
        components: {},
        mounted() {
            this.getNews()
        }
    }
</script>
