<template>
    <div class="main-slider">
        <div id="slideshow0" class="owl-carousel" style="opacity: 1;">
            <div class="item">
                <a href="index.html#"><img src="../../assets/image/cache/catalog/main-banner1-1903x782.jpg" alt="mainbanner1" class="img-responsive" /></a>
            </div>
            <div class="item">
                <a href="index.html#"><img src="../../assets/image/cache/catalog/main-banner2-1903x782.jpg" alt="mainbanner2" class="img-responsive" /></a>
            </div>
            <div class="item">
                <a href="index.html#"><img src="../../assets/image/cache/catalog/main-banner3-1903x782.jpg" alt="mainbanner3" class="img-responsive" /></a>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {},
        mounted() {
            $('#slideshow0').owlCarousel({
                items: 6,
                autoPlay: 4000,
                singleItem: true,
                navigation: true,
                navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
                pagination: true
            });
        }
    }
</script>
