<template>
    <div class="video_outer">
        <div class="video_inner container">
            <div class="video_content_inner">
                <div class="videotext">Надежный уровень<span class="text_inner">комфорта</span></div>
                <div class="video_text2">Быстрая доставка</div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {}
    }

</script>
