<template>
    <div id="content" class="col-sm-9">
        <div class="aboutus">
            <h3>Ми доставляємо будь який товар з Європи</h3>
            <p>
                Zapchasti.lviv.ua ­ это Ваш интернет помощник покупки и доставки автозапчастей из Польши вУкраину.
                Zapchasti.lviv.ua­ это сервис который напрямую  работает с известным не только в Польше, но и в Европе аукционом moto.allegro.pl.
                Поэтому у нас на сайте, предоставлен полный список актуальных предложений, крупнейшего интернет аукциона Польши ­ Allegro.pl
                Уже несколько лет наша компания помогает автолюбителям заказывать оригинальные, недорогие б/у и новые запчасти из Польши.
            </p>
            <p>
                Мы работаем для того, чтобы Вы имели возможность в кратчайшие сроки и при минимальных затратах приобрести необходимые запчасти с авторазборок.
                Благодаря тому, что на территории Польши наша компания имеет свои складские помещения,  и доставка  запчастей из Польши производится автомобилями нашей компании, покупатель получает свой товар в кратчайшие сроки 3­-5 дней.
            </p>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                msg:'hello vue'
            }
        },
        components: {}
    }
</script>
