<template>
    <div class="notification">
        <notification :notification="notification" v-for="notification in notifications"
                       @close-notification="removeNotification" transition="fade"
        ></notification>
    </div>
</template>
<script>
    import Notifications from './notifications.js'
    import Notification from './notification.vue'

    export default {
        data() {
            return {
                msg:'hello vue',
                notifications: Notifications.state
            }
        },
        methods: {
            removeNotification (notification) {
                Notifications.remove(notification)
            }
        },
        components: {Notification},
    }
</script>
