<template>
    <div class="alert" :class="'alert-' + notification.type" transition="fade">
        <i class="fa fa-check-circle"></i>
        <span v-html="notification.text"></span>
        <button type="button" class="close" data-dismiss="alert" @click="triggerClose(notification)">×</button>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                timer: null
            }
        },
        props: ['notification'],
        methods: {
            triggerClose (notification) {
                clearTimeout(this.timer)
                this.$emit('close-notification', notification)
            },
        },
        components: {},
        mounted() {
            let timeout = this.notification.hasOwnProperty('timeout') ? this.notification.timeout : true
            if (timeout) {
                let delay = this.notification.delay || 3000
                this.timer = setTimeout(function () {
                    this.triggerClose(this.notification)
                }.bind(this), delay)
            }
        }
    }

</script>
