<template>
    <li>
        <div class="hitarea expandable-hitarea" v-if="category.children"
             :class="{'collapsable-hitarea': category.open}"
             @click="$set(category, 'open', !category.open)"></div>
        <router-link :to="'/categories/' + category.id + '/products'" :class="{active: category.id == $route.params.id}">{{ category.name_ru }}</router-link>
        <transition name="fade">
            <ul v-if="category.children" v-show="category.open">
                <category-tree :category="category" v-for="category in category.children"></category-tree>
            </ul>
        </transition>
    </li>
</template>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
    }
    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active for <2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }

</style>
<script>
    import CategoryTree from './category-tree.vue'

    export default {
        name: 'CategoryTree',
        data() {
            return {
                msg:'hello vue'
            }
        },
        props: ['category'],
        components: {CategoryTree},
        mounted() {
        }
    }
</script>
