<template>
    <div id="column-left" class="col-sm-3 hidden-xs">
        <div class="box">
            <div class="box-heading">
                <span>{{ t('categories') }}</span>
            </div>
            <div class="box-content ">
                <ul class="box-category treeview-list treeview">
                    <category-tree :category="category" v-for="category in categories"></category-tree>
                </ul>
            </div>
        </div>
        <div class="box sidebarFilter" v-if="$route.name == 'products'">
            <div class="box-heading"><span>Уточнити пошук</span></div>
            <div class="filterbox">
                <div class="list-group">
                    <a class="list-group-item">Стан</a>
                    <div class="list-group-item">
                        <div id="filter-group1">
                            <label class="checkbox">
                                <input type="checkbox" value="new" v-model="filter.condition"/>Новий
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" value="used" v-model="filter.condition"/>Б/У
                            </label>
                        </div>
                    </div>
                    <a class="list-group-item">Ціна</a>
                    <div class="list-group-item">
                        <div id="filter-group2">
                            <label class="checkbox" v-for="price in prices">
                                <input type="radio"  :value="price.value" v-model="filter.price">
                                {{ price.name}} грн.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner0">
            <div class="item">
                <a href="index.html#"><img src="../../assets/image/cache/catalog/left-banner-285x355.jpg"
                                           alt="Leftbanner" class="img-responsive"/></a>
            </div>
        </div>
        <viewed-products></viewed-products>

        <span class="viewed_default_width"></span>
    </div>
</template>
<script>
    import CategoryTree from './category-tree.vue'
    import ViewedProducts from './viewed-products.vue'
    import ProductMixin from '../../mixins/product.vue'
    import vueSlider from 'vue-slider-component'

    export default {
        data() {
            return {
                value: 1,
                categories: [],
                prices: [
                    {
                        value: '0-100',
                        name: '0 - 100'
                    },
                    {
                        value: '200-300',
                        name: '200 - 300'
                    },
                    {
                        value: '300-500',
                        name: '300 - 500'
                    },
                    {
                        value: '500-1000',
                        name: '500 - 1000'
                    },
                    {
                        value: '1000-',
                        name: 'от 1000'
                    },
                ],
                category: {},
                filter: {
                    condition: [],
                    price: []
                },
            }
        },
        mixins: [ProductMixin],
        methods: {
            getCategories() {
                this.$http.get('categories').then(response => {
                    this.categories = response.data.categories
                }, err => {

                })
            },
            filterProducts() {
                bus.$emit('get-products', this.filter)
            },
            getCategory() {
                loading(true)
                this.$http.get('categories/' + this.$route.params.id).then(response => {
                    this.category = response.data.category
                    this.categories = this.category.children.length ? this.category.children : this.category.parent.children
                    this.$emit('change-title', this.category.name_ru)
                    var self = this
                    window.setTimeout(function () {
                        self.head.title = self.category.name_ru
                        self.head.description = self.category.name_ru
                        self.$emit('updateHead')
                    }, 500)
                    this.$emit('change-breadcrumbs', this.category.breadcrumbs)
                    loading()
                }, err => {
                    loading()

                })
            },
        },
        watch: {
            filter: {
                handler: function (val, oldVal) {
                    this.filterProducts()
                },
              deep: true
            },
            '$route' (to, from) {
                if(this.$route.name == 'products') {
                    this.getCategory()
                }
            },
        },
        components: {CategoryTree, ViewedProducts, vueSlider},
        mounted() {
            if(this.$route.name == 'products') {
                this.getCategory()
            } else {
                this.getCategories()
            }
        }
    }
</script>
