<template>
    <div class="box">
        <div class="box-heading"><span>{{ t('reviewed') }}</span></div>
        <div class="box-content">
            <div class="box-product productbox-grid" id="latest-grid">
                <div class="product-items" v-for="product in viewedProducts">
                    <div class="product-block product-thumb transition">
                        <div class="product-block-inner ">

                            <div class="image">
                                <a href="index.php%3Froute=product%252Fproduct&amp;product_id=49.html"><img
                                        :src="getPhoto(product.itemImages.item, 1)"
                                        style="width: 78px;"
                                        alt="Forged Auto Parts" title="Forged Auto Parts"
                                        class="img-responsive"/>
                                </a>
                            </div>
                            <div class="product-details">
                                <div class="caption">
                                    <h4>
                                        <router-link :to="'/products/' + product.itemInfo.itId">{{ product.itemInfo.itName }}</router-link>
                                    </h4>
                                    <p class="price">
                                        $241.99 <span class="price-tax">Ex Tax: $199.99</span>
                                    </p>
                                </div>

                                <div class="button-group">
                                    <button type="button" class="addtocart" onclick="cart.add('49');">Add to
                                        Cart
                                    </button>
                                    <button class="wishlist" type="button" data-toggle="tooltip"
                                            title="Add to WishList" onclick="wishlist.add('49');"><i
                                            class="fa fa-heart"></i></button>
                                    <button class="compare" type="button" data-toggle="tooltip"
                                            title="Add to Compare" onclick="compare.add('49');"><i
                                            class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                viewedProducts: []
            }
        },
        methods: {
            getViewedProducts() {
                var productsId = localStorage.getItem('viewed-products') || []

                if(productsId.length) {
                    productsId = JSON.parse(productsId);
                }

                this.$http.get('products', {params: {products_id: productsId}}).then(response => {
                    this.viewedProducts = response.data.products
                }, err => {

                })
            },
        },
        components: {},
        mounted() {
            this.getViewedProducts()
        }
    }
</script>
