<template>
    <div class="container">
        <h2 class="page-title">{{ title }}</h2>
        <breadcrumbs :breadcrumbs="breadcrumbs"></breadcrumbs>
        <notifications></notifications>
        <transition-group name="your" mode="out-in">
            <categories v-if="$route.name == 'catalog'" key="catalog"></categories>
            <div class="row"  key="row">
                <sidebar-left v-if="$route.name != 'home'" key="home" @change-title="changeTitle" @change-breadcrumbs="changeBreadcrumbs"></sidebar-left>
                <product-list v-if="$route.name == 'products'" key="products"></product-list>
                <product-page v-if="$route.name == 'product'" key="product" @change-title="changeTitle" @change-breadcrumbs="changeBreadcrumbs"></product-page>
                <about-us v-if="$route.name == 'about-us'" key="about-us"></about-us>
                <contacts v-if="$route.name == 'contacts'" key="contacts"></contacts>
                <reviews v-if="$route.name == 'reviews'" key="contacts"></reviews>
                <cart v-if="$route.name == 'cart'" key="cart"></cart>
            </div>
        </transition-group>
    </div>
</template>
<script>
    import ProductList from '../catalog/product-list.vue'
    import ProductPage from '../product/index.vue'
    import Cart from '../cart/index.vue'
    import Categories from '../catalog/categories.vue'
    import Contacts from '../contacts/index.vue'
    import AboutUs from '../about-us/index.vue'
    import Reviews from '../reviews/index.vue'


    export default {
        name: 'Page',
        data() {
            return {
                title: this.$route.meta.title,
                breadcrumbs: [],
            }
        },
        methods: {
            changeTitle(title) {
                this.title = title
            },
            changeBreadcrumbs(breadcrumbs) {
                if(breadcrumbs) {
                    this.breadcrumbs = breadcrumbs
                } else {
                    this.breadcrumbs = [{'name': this.$route.meta.title, 'link': this.$route.path}]
                }
            },
        },
        watch: {
            '$route' (to, from) {
                this.title = this.$route.meta.title
                this.changeBreadcrumbs()
            },
        },
        components: {ProductList, ProductPage, Cart, Categories, Contacts, AboutUs, Reviews},
        mounted() {
            this.changeBreadcrumbs()
            this.$on('change-title', title => {
                alert()
                this.title = title
            })
        }
    }
</script>
