<template>
    <div>
        <div>this is template body</div>
    </div>
</template>
<script>
    import Notifications from '../components/notifications/notifications.js'

    export default {
        data() {
            return {
            }
        },
        methods: {
            cartAdd(product, quantity = 1) {
                var params = {
                    quantity: quantity
                }
                this.$set(product, 'cartAdding', true)
                this.$http.post('cart/' + product.itemId, params).then(response => {
                    bus.$emit('cart.update', response.data.cart)
                    Notifications.add({
                        title: 'Success!!',
                        text: 'Товар <a href="#">' + product.itemTitle + '</a> успешно добавлен в корзину',
                        type: 'success',
                        timeout: true
                    })
                    product.cartAdding = false
                }, err => {
                    Notifications.add({
                        title: 'warning!!',
                        text: 'Ошибка при добавление товара в корзину!',
                        type: 'warning',
                        timeout: true
                    })
                    product.cartAdding = false
                })
            },
            cartRemove(product) {
                loading(true)
                var product_id = product.product.itemInfo.itId
                this.$http.delete('cart/' + product_id).then(response => {
                    Notifications.add({
                        title: 'Success!!',
                        text: 'Корзина обновлена!',
                        type: 'success',
                        timeout: true
                    })
                    bus.$emit('cart.remove', product)
                    loading(false)
                }, err => {
                    console.log(err)
                })
            },
            cartUpdate(cart) {
                var params = {
                    cart: cart,
                }
                loading(true)
                this.$http.put('cart', params).then(response => {
                    bus.$emit('cart.update', response.data.cart)
                    Notifications.add({
                        title: 'Success!!',
                        text: 'Корзина обновлена!',
                        type: 'success',
                        timeout: true
                    })
                    loading(false)
                }, err => {
                    Notifications.add({
                        title: 'warning!!',
                        text: 'Ошибка при обновление корзины!',
                        type: 'warning',
                        timeout: true
                    })
                    loading(false)
                })
            },
            cartClear() {
                this.$http.delete('cart').then(response => {
                    Notifications.add({
                        title: 'Success!!',
                        text: 'Корзина очищена!',
                        type: 'success',
                        timeout: true
                    })
                    bus.$emit('cart.clear')
                }, err => {
                    console.log(err)
                })
            },
        },
        components: {}
    }
</script>
