<template>
    <div>
        <div>this is template body</div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
            }
        },
        methods: {
            getMainPhoto(photos) {
                if(!photos) {
                    return false;
                }

                return photos.find(photo => {return photo.photoIsMain && photo.photoSize == 'large'})
            },
            getPhoto(photos, type) {
                if(!photos) {
                    return false;
                }
                return photos.find(photo => {return photo.imageType == type}).imageUrl
            },
        },
        components: {}
    }
</script>
