<template>
    <ul class="breadcrumb">
        <li>
            <router-link to="/"><i class="fa fa-home"></i></router-link>
        </li>
        <li v-for="breadcrumb in breadcrumbs">
            <router-link :to="breadcrumb.link">{{ breadcrumb.name }}</router-link>
        </li>
    </ul>
</template>
<script>
    export default {
        data() {
            return {
            }
        },
        props: ['breadcrumbs'],
        components: {},
        mounted() {

        }
    }
</script>
