<template>
    <body :class="$route.name == 'home' ? 'common-home layout-1' : 'product-category-20 layout-2 left-col'">
    <header-component></header-component>
    <div class="content-top-breadcum">
        <div class="container"> </div>
    </div>
    <content-component></content-component>
    <footer-component></footer-component>
    </body>
</template>

<script>
import Navbar from './components/Navbar'
import HeaderComponent from './components/layouts/header'
import ContentComponent from './components/layouts/content'
import FooterComponent from './components/layouts/footer'

export default {
    name: 'App',
    components: {HeaderComponent, ContentComponent, FooterComponent},
    mounted() {
        $(window).load(function() {
          //$("#spinner").fadeOut("slow");
        });
    }
}

</script>

<style lang="sass">

    // Bootstrap
    $icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
    $link-color: #42b983;
    $brand-success: #42b983;

    // font awesome
    $fa-font-path: '../node_modules/font-awesome/fonts/';
    @import 'assets/css/animate.min.css';
    @import "assets/css/stylesheet.css";
    //@import "assets/css/nprogress.css";
    @import "assets/css/megnor/carousel.css";
    @import "assets/css/megnor/custom.css";
    @import "assets/css/owl.transitions.css";
    @import "assets/css/owl.carousel.css";
    @import "assets/css/megnor/bootstrap.min.css";
    @import "assets/css/preloader.css";
    @import "assets/css/magnific-popup.css";
    @import "assets/css/main.css";
    @import 'node_modules/font-awesome/scss/font-awesome';
</style>
