<template>
    <div id="content" class="col-sm-9">
        <h3>Где мы находимся</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row contact-info">
                    <div class="left">
                        <div class="address-detail"><strong>Your Store</strong>
                            <address>
                                Megnor Comp pvt. ltd<br>
                                507, Union Trade Center,<br>
                                Udhana Darwaja,<br>
                                Surat.               </address>
                        </div>
                        <div class="telephone">
                            <strong>Telephone</strong>
                            <address>+91 8866888222 </address>
                        </div>
                        <div class="fax">
                            <strong>Fax</strong>
                            <address>00-00-00</address>

                        </div>
                    </div>
                    <div class="right">
                        <div class="map">

                        </div>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div>
        <form method="post" @submit.prevent="submitContact" class="form-horizontal">
            <h3>Свяжитесь с нами</h3>
            <fieldset>
                <div class="form-group required">
                    <label for="input-name" class="col-sm-2 control-label">Имя</label>
                    <div class="col-sm-10">
                        <input type="text" id="input-name" class="form-control" v-model="contact.name">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-email" class="col-sm-2 control-label">E-Mail</label>
                    <div class="col-sm-10">
                        <input type="text" id="input-email" class="form-control" v-model="contact.email">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="input-enquiry" class="col-sm-2 control-label">Комментарий</label>
                    <div class="col-sm-10">
                        <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control" v-model="contact.text"></textarea>
                    </div>
                </div>
                <div class="buttons">
                    <div class="pull-right"><input type="submit" value="Submit" class="btn btn-primary"></div>
                </div>
            </fieldset>
        </form>
    </div>
</template>
<script>
    import Notifications from '../notifications/notifications.js'

    export default {
        data() {
            return {
                contact: {},
            }
        },
        methods: {
            submitContact() {
                loading(true)
                this.$http.post('contacts', this.contact).then(response => {
                     Notifications.add({
                        title: 'Success!!',
                        text: 'Спасибо за заявку, мы свяжемся с Вами в ближайшее время!',
                        type: 'success',
                        timeout: true
                    })
                    loading()
                    this.contact = {}
                }, err => {
                    if (err.response.status == 422) {
                        var errors = err.response.data

                        Notifications.add({
                            title: 'danger!!',
                            text: Object.keys(errors).map((key, index) => {return errors[key]}).join("<br>"),
                            type: 'danger',
                            timeout: true
                        })
                    }
                    loading()
                })
            }
        },
        components: {}
    }
</script>
